    <span class="title bblack"><span class="black bred">liens</span></span>

    <p class="footer">
    <a href="/feed.xml" title="RSS">RSS</a>
    | <a href="mailto:bruno@adele.im" title="Contact">Email</a> 
    | <a href="https://github.com/badele" title="GitHub">Github</a> 
    | <a href="https://stackoverflow.com/users/2015612/bruno-adel%c3%a9" title="StackOverflow">StackOverflow</a>
    | <a href="https://www.instagram.com/badele34" title="Instagram">Instagram</a>
    | <a href="https://www.youtube.com/brunoadele" title="Youtube">Youtube</a>
    | <a href="https://soundcloud.com/bruno-adele" title="SoundCloud">SoundCloud</a>
    | <a href="https://open.spotify.com/user/2166cwmaoshdihdqzhlphsbcy" title="Spotify">Spotify</a>
    | <a href="https://paypal.me/brunoadele" title="PayPal">PayPal</a>
    </p>
