<!doctype html>
<html lang="{% if ctx and ctx.language %}{{ ctx.language }}{% else %}fr{%endif %}">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!-- meta -->
        <meta charset=utf-8>
        <meta name="author" content="Bruno Adele">
        <meta name="dc.language" content="fr-FR">
        <meta name="dc.license" content="http://creativecommons.org/licenses/by-sa/3.0/">
        {% if ctx and ctx.summary %}<meta name="description" content="{{ ctx.summary }}">{% endif %}
        {% if ctx and ctx.tags %}<meta name="keywords" content="{{ ctx.tags|sort(case_sensitive=true)|join(', ') }}">{% endif %}
        {% if ctx and ctx.pub_date %}
            <meta name="dc.date.created" content="{{ ctx.pub_date.date().isoformat() }}">
            <meta name="dc.date.issued" content="{{ ctx.pub_date.date().isoformat() }}">
        {% endif %}
        <!-- favicon -->
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <!-- newsfeed -->
        <link href="/feed.atom" rel="alternate" title="Feed" type="application/atom+xml">

        <!-- assets -->
        <link href="https://fonts.googleapis.com/css?family=Linden+Hill:400,400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        {%- for link in links %}
            <link rel="{{ link.rel }}" href="{{ link.href }}"{% if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
        {%- endfor %}
    </head>
    <body>
        <div id="wrapper">
            <div id="blogtitle">Famille de geeks<div id="subtitle">Une famille complètement geek</div></div>
            <ul id="mainnav">
                <li><a href="/">home</a></li>
                <li><a href="/archive/">archive</a></li>
                <li><a href="/tags/">tags</a></li>
                <li class="last"><a href="http://bruno.adele.im">A propos</a></li>
            </ul>

            <div class="clearboth"></div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class=footer>
          <div class="textwidget">
<a alt="site de la famille adele" href="http://adele.im"><img src="/static/button/badge_aim.png" alt="aim button"/></a>

            <a alt="Flux RSS" href="http://feeds.feedburner.com/FamilleDeGeek"><img src="/static/button/badge_rss.png" alt="rss button"/></a>

            <a alt="twitter" href="http://www.twitter.com/jesuislibre"><img src="/static/button/badge_twitter.png" alt="twitter button" /></a>

            <a alt="Google +" rel="author" href="https://plus.google.com/100723270029692582967"><img src="/static/button/badge_google+.png" alt="google + button" /></a>

            <a alt="Blog" href="http://blog.jesuislibre.org"><img src="/static/button/badge_blog.png" alt="blog jesuislibre button" /></a>


            <a alt="facebook" href="http://www.facebook.com/bruno.adele"><img src="/static/button/badge_facebook.png" alt="facebook button" /></a>

            <a alt="flickr" href="http://www.flickr.com/photos/b_adele"><img src="/static/button/badge_flickr.png" alt="flickr button" /></a>

            <a alt="linkedin" href="http://fr.linkedin.com/in/brunoadele"><img src="/static/button/badge_linkedin.png" alt="linkedin button" /></a>

          </div>



          <p>
            Carbure à <a href="https://github.com/mitsuhiko/rstblog">rstblog</a>, contenu du site disponible sur le dépot <a href="https://github.com/badele/blog.jesuislibre.org">github</a></p>
            <p>
              Contactez moi par <a href="mailto:bruno.adele@jesuislibre.org">mail</a>,
              <a href="http://twitter.com/jesuislibre">twitter</a>,
              <a href="http://github.com/badele">github</a></p>
          <p>&copy; Copyright 2013 by Bruno Adele.</p>
      </div>

      <!-- Piwik --> 
      <script type="text/javascript">
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.cendreo.com/" : "http://analytics.cendreo.com/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.cendreo.com/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
     </body>
</html>




